@media (max-width: 1000px){
    .grid-galeria{
    grid-template-columns:repeat(2, 1fr) ;
    height: 830px;
    padding: 30px;
    }
}

@media (max-width: 800px){
    footer{
        h2{
            font-size: 25px;
        }
        img{
            width: 34px;
        }
        a{
            font-size: 27px;
        }
    } 
}

@media (max-width: 670px){
    .grid-galeria{
        grid-template-columns:repeat(1, 1fr) ;
        height: 1600px;
        padding: 30px;
        }
}

@media (max-width: 630px){
    h1{
        font-size: 36px;
        font-weight: 800;
    }
    .mas{
        h2{
            font-size: 32px;
            font-weight: 550;
        }
    }
    .destacados{
        h2{
            font-size: 32px;
            font-weight: 550;
        }
    }
    footer{
        h2{
            font-size: 20px;
        }
        img{
            width: 34px;
        }
        a{
            font-size: 27px;
        }
    }
}

@media (max-width: 440px){
    header nav ul li{
        text-align: center;
    }
    header nav ul li a{
        font-size: 15px;
    }
    h1{
        font-size: 28px;
        font-weight: 800;
    }
    .mas{
        h2{
            font-size: 23px;
            font-weight: 550;
            padding: 15px;
        }
    }
    .destacados{
        h2{
            font-size: 23px;
            font-weight: 550;
            padding: 15px;
        }
    }
}

@media (max-width: 360px){
    footer{
        display: inline-block;
        height: 360px;
    }
    .grid-galeria{
        padding: 6px;
        }
}





